<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jiangzg.ita">

    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="${UMENG_CHANNEL_VALUE}"/>

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemePink">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 更新服务 -->
        <!-- <service -->
        <!-- android:name=".service.UpdateService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"/> -->
        <!-- 地图服务 -->
        <!-- <service -->
        <!-- android:name=".service.LocationService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"/> -->
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.user.LoginActivity"/>
        <activity android:name=".activity.user.RegisterActivity"/>
        <activity android:name=".activity.couple.CoupleInfoActivity"/>
        <activity android:name=".activity.user.ForgetActivity"/>
        <activity android:name=".activity.common.WebActivity"/>
        <activity android:name=".activity.user.UserInfoActivity"/>
        <activity android:name=".activity.common.HelpActivity"/>
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity android:name=".activity.settings.ThemeActivity">
        </activity>
        <activity android:name=".activity.user.PhoneActivity">
        </activity>
        <activity android:name=".activity.user.PasswordActivity">
        </activity>
        <activity android:name=".activity.common.HelpListActivity">
        </activity>
        <activity android:name=".activity.common.SuggestHomeActivity">
        </activity>
        <activity android:name=".activity.common.SuggestDetailActivity">
        </activity>
        <activity android:name=".activity.common.SuggestAddActivity">
        </activity>
        <activity android:name=".activity.common.SuggestListActivity">
        </activity>
        <activity android:name=".activity.couple.WallPaperActivity">
        </activity>
        <activity android:name=".activity.common.ImgScreenActivity">
        </activity>
    </application>

</manifest>