<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jiangzg.lovenote">

    <!-- 蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeGrey"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- uri转file 7.0兼容 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jiangzg.lovenote.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 指定要分享文件所在的目录，在provider_paths文件中定义 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- 全屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>

        <!-- data-下载渠道 -->
        <meta-data
            android:name="market_channel"
            android:value="${MARKET_CHANNEL_VALUE}"/>

        <!-- apk更新 -->
        <service
            android:name=".service.UpdateService"
            android:enabled="true"
            android:exported="true"/>

        <!-- oss -->
        <receiver
            android:name=".receiver.OssRefreshReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8d050bd3da20cc18f5f066710b8b8974"/>

        <service
            android:name="com.amap.api.location.APSService"
            android:enabled="true"
            android:exported="true"/>

        <!-- 阿里推送 -->
        <receiver
            android:name=".receiver.AliPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE"/>
            </intent-filter>
        </receiver>

        <!-- 阿里支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <!-- activity -->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- common -->
        <activity android:name=".activity.HomeActivity"/>
        <activity android:name=".activity.common.WebActivity"/>
        <activity android:name=".activity.common.BigImageActivity"/>
        <activity android:name=".activity.common.MapShowActivity"/>
        <activity android:name=".activity.common.MapSelectActivity"/>
        <activity android:name=".activity.common.MapSearchActivity"/>
        <!-- user -->
        <activity android:name=".activity.user.LoginActivity"/>
        <activity android:name=".activity.user.RegisterActivity"/>
        <activity android:name=".activity.user.ForgetActivity"/>
        <activity android:name=".activity.user.PhoneActivity"/>
        <activity android:name=".activity.user.PasswordActivity"/>
        <activity android:name=".activity.user.UserInfoActivity"/>
        <!-- settings -->
        <activity android:name=".activity.settings.SettingsActivity"/>
        <activity android:name=".activity.settings.ThemeActivity"/>
        <activity android:name=".activity.settings.HelpActivity"/>
        <activity android:name=".activity.settings.NoticeListActivity"/>
        <activity android:name=".activity.settings.NoticeDetailActivity"/>
        <activity android:name=".activity.settings.SuggestHomeActivity"/>
        <activity android:name=".activity.settings.SuggestDetailActivity"/>
        <activity android:name=".activity.settings.SuggestAddActivity"/>
        <activity android:name=".activity.settings.SuggestListActivity"/>
        <activity android:name=".activity.settings.AboutActivity"/>
        <activity android:name=".activity.settings.UserProtocolActivity"/>
        <!-- couple -->
        <activity android:name=".activity.couple.CouplePairActivity"/>
        <activity android:name=".activity.couple.CoupleInfoActivity"/>
        <activity android:name=".activity.couple.CoupleWallPaperActivity"/>
        <activity android:name=".activity.couple.CouplePlaceActivity"/>
        <activity android:name=".activity.couple.CoupleWeatherActivity"/>
        <!-- book -->
        <activity android:name=".activity.note.LockActivity"/>
        <activity android:name=".activity.note.NoteTotalActivity"/>
        <activity android:name=".activity.note.TrendsListActivity"/>
        <activity android:name=".activity.note.ShyActivity"/>
        <activity android:name=".activity.note.MensesActivity"/>
        <activity android:name=".activity.note.SleepActivity"/>
        <activity android:name=".activity.note.AudioListActivity"/>
        <activity android:name=".activity.note.AudioEditActivity"/>
        <activity android:name=".activity.note.VideoListActivity"/>
        <activity android:name=".activity.note.VideoEditActivity"/>
        <activity android:name=".activity.note.AlbumListActivity"/>
        <activity android:name=".activity.note.AlbumEditActivity"/>
        <activity android:name=".activity.note.PictureListActivity"/>
        <activity android:name=".activity.note.PictureEditActivity"/>
        <activity android:name=".activity.note.SouvenirListActivity"/>
        <activity android:name=".activity.note.SouvenirEditActivity"/>
        <activity android:name=".activity.note.SouvenirDetailDoneActivity"/>
        <activity android:name=".activity.note.SouvenirDetailWishActivity"/>
        <activity android:name=".activity.note.SouvenirEditForeignActivity"/>
        <activity android:name=".activity.note.WordListActivity"/>
        <activity android:name=".activity.note.WhisperListActivity"/>
        <activity android:name=".activity.note.DiaryListActivity"/>
        <activity android:name=".activity.note.DiaryEditActivity"/>
        <activity android:name=".activity.note.DiaryDetailActivity"/>
        <activity android:name=".activity.note.AwardListActivity"/>
        <activity android:name=".activity.note.AwardEditActivity"/>
        <activity android:name=".activity.note.AwardRuleListActivity"/>
        <activity android:name=".activity.note.AwardRuleEditActivity"/>
        <activity android:name=".activity.note.DreamListActivity"/>
        <activity android:name=".activity.note.DreamEditActivity"/>
        <activity android:name=".activity.note.DreamDetailActivity"/>
        <activity android:name=".activity.note.GiftListActivity"/>
        <activity android:name=".activity.note.GiftEditActivity"/>
        <activity android:name=".activity.note.FoodListActivity"/>
        <activity android:name=".activity.note.FoodEditActivity"/>
        <activity android:name=".activity.note.TravelListActivity"/>
        <activity android:name=".activity.note.TravelDetailActivity"/>
        <activity android:name=".activity.note.TravelEditActivity"/>
        <activity android:name=".activity.note.TravelPlaceEditActivity"/>
        <activity android:name=".activity.note.AngryListActivity"/>
        <activity android:name=".activity.note.AngryEditActivity"/>
        <activity android:name=".activity.note.AngryDetailActivity"/>
        <activity android:name=".activity.note.PromiseListActivity"/>
        <activity android:name=".activity.note.PromiseEditActivity"/>
        <activity android:name=".activity.note.PromiseDetailActivity"/>
        <!-- topic -->
        <activity android:name=".activity.topic.TopicMessageActivity"/>
        <activity android:name=".activity.topic.PostMineActivity"/>
        <activity android:name=".activity.topic.PostCollectActivity"/>
        <activity android:name=".activity.topic.PostListActivity"/>
        <activity android:name=".activity.topic.PostAddActivity"/>
        <activity android:name=".activity.topic.PostSearchActivity"/>
        <activity android:name=".activity.topic.PostDetailActivity"/>
        <activity android:name=".activity.topic.PostSubCommentListActivity"/>
        <!-- more -->
        <activity android:name=".activity.more.BroadcastActivity"/>
        <activity android:name=".activity.more.VipActivity"/>
        <activity android:name=".activity.more.VipListActivity"/>
        <activity android:name=".activity.more.VipBuyActivity"/>
        <activity android:name=".activity.more.CoinActivity"/>
        <activity android:name=".activity.more.SignActivity"/>
        <activity android:name=".activity.more.CoinBuyActivity"/>
        <activity android:name=".activity.more.MatchWifeActivity"/>
        <activity android:name=".activity.more.MatchWifeListActivity"/>
        <activity android:name=".activity.more.MatchLetterActivity"/>
        <activity android:name=".activity.more.MatchLetterListActivity"/>
        <activity android:name=".activity.more.MatchDiscussActivity"/>
        <activity android:name=".activity.more.MatchDiscussListActivity"/>
    </application>

</manifest>